.btnCustomTh {
	height: 40px;
	width: 90px;
	text-align: center;
}

.btnCustomTh1 {
	height: 40%;
	width: 36px;
	text-align: center;
}

.my-custom-scrollbar {
	position: relative;
	height: 400px;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
}