<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-sidebar},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">
<head id="home-static-resources" th:include="/fragments/app-fragments :: static-resource">
	<title id="pageTitle">Add Supplier</title>
</head>
<body>
	<div id="home-nav" th:replace="~{/fragments/app-fragments :: nav-default}"></div>
	<div id="home-sidebar" th:replace="~{/fragments/app-fragments :: main-sidebar}"></div>

	<div id="home-main-content">
		<div class="row justify-content-center align-items-center h-100">
			<div class="col col-md-5 text-center">
				<form th:action="@{/suppliers/add-supplier}" th:object="${supplierDTO}" method="POST">
					<div class="form-row py-1">
						<label for="name" class="form-label">Name</label>
						<input type="text" name="name" class="form-control" id="name"  th:value="*{name}" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
					</div>
					<div class="form-row py-1">
						<label for="phone" class="form-label">Phone Number</label>
						<input type="text" name="phone" class="form-control" id="phone" th:value="*{phone}" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="invalid-feedback"></div>
					</div>
					<div class="form-row py-1">
						<label for="address" class="form-label">Address</label>
						<input type="text" name="address" class="form-control" id="address" th:value="*{address}" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="invalid-feedback"></div>
					</div>
					<div class="form-row py-1">
						<label for="city" class="form-label">City</label>
						<input type="text" name="city" class="form-control" id="city" th:value="*{city}" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="invalid-feedback"></div>
					</div>
					<div class="form-row py-1">
						<label for="email" class="form-label">Email</label>
						<input type="text" name="email" class="form-control" id="email" th:value="*{email}" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
					</div>
					<div class="form-row py-1">
						<label for="description" class="form-label">Description</label>
						<input type="text" name="description" class="form-control" id="description" th:value="*{description}" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback"></div>
					</div>
					<div class="form-row py-1">
						<label for="note" class="form-label">Note</label>
						<input type="text" name="note" class="form-control" id="note" th:value="*{note}" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('note')}" th:errors="*{note}" class="invalid-feedback"></div>
					</div>
					<div class="form-row py-1">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="home-footer" th:replace="~{/fragments/app-fragments :: copyright}"></div>

</body>
</html>
