<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-sidebar},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">
<head id="home-static-resources" th:include="/fragments/app-fragments :: static-resource">
	<title id="pageTitle">Add Order</title>
</head>
<body>
	<div id="home-nav" th:replace="~{/fragments/app-fragments :: nav-default}"></div>
	<div id="home-sidebar" th:replace="~{/fragments/app-fragments :: main-sidebar}"></div>
	<div id="home-main-content">
		<div class="row">
			<div class="col-sm-4">
				<h1 style="text-align: center;">Order Detail</h1>
				<div>&nbsp;</div>
			    <form th:action="@{/orders/add-order}" th:object="${orderDTO}" method="POST">
			    	<div class="row" th:if="${session.containsKey('orderSessionCreate')}">
			    		<div class="table-wrapper-scroll-y my-custom-scrollbar">
			    			<table class="table table-hover">
						    	<thead>
						    		<tr>
						    			<td scope="col">Thumbnail</td>
						    			<td scope="col">Name</td>
								        <td scope="col">Quantity</td>
								        <td scope="col">Price</td>
								        <td scope="col">Amount</td>
								        <td scope="col"></td>
								    </tr>
						    	</thead>
						      	<tbody>
						      		<tr th:each="item : ${session.orderSessionCreate}">
						      			<td>
						      				<img style="width: 80px; height: 40px;" th:src="@{${item.thumbnailImagePath}}">
						      			</td>
						      			<th th:text="${item.name}"></th>
								        <td th:text="${item.quantity}"></td>
								        <td th:text="${item.price}"></td>
								        <td th:text="${item.amount}"></td>
								        <td style="text-align: center;">
								          <a th:text="'-'" th:href="@{/orders/reduce-item/0/{id}(id=${item.productId})}" class="btn btn-primary fw-bold btnCustomTh1" />
								          <a th:text="'+'" th:href="@{/orders/add-item/0/{id}(id=${item.productId})}" class="btn btn-primary fw-bold btnCustomTh1" />
								          <a th:text="'x'" th:href="@{/orders/remove-item/0/{id}(id=${item.productId})}" class="btn btn-danger fw-bold btnCustomTh1" />
								        </td>
								    </tr>
						      	</tbody>
						    </table>
			    		</div>
			    	</div>
			    	<div>&nbsp;</div>
			    	<div th:if="${session.orderTotalAmountSession != null}">
			    		<span style="font-weight: bold;" th:text="${'Total Amount: ' + session.orderTotalAmountSession}"></span>
			    	</div>
			    	<div>&nbsp;</div>
			    	<div class="form-row py-1">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
			    </form>
		  	</div>
		  	
		  	<div class="col-sm-8">
		  		<div>
		  			<div style="float: right;">
					  	<form th:action="@{/orders/add-order/1}" method="GET">
						  	<div class="input-group">
						  		<input id="txtSearch" type="text" name="keyword" class="form-control rounded" 
						  		placeholder="Search" aria-label="Search" aria-describedby="search-addon">
						  		<button class="btn btn-outline-primary" type="submit">Search</button>
						  	</div>
					  	</form>
					</div>
			  		<h1 style="text-align: center;">Product</h1>
			  		<div>&nbsp;</div>
			  		<div class="row">
			  			<div th:each="product : ${productList}" class="col-12 col-md-6 col-lg-2">
			  				<div class="card">
			  					<img style="height: 100px;" class="card-img-top" th:src="@{${product.thumbnailImagePath}}">
			  					<div class="card-body">
			  						<p class="card-text text-center fs-5" th:text="${product.name}"></p>
			  						<div class="row">
			  							<div class="col">
			  								<p class="card-text text-center fs-6" th:text="'Price: ' + ${product.price}"></p>
			  							</div>
			  							<div class="col text-center">
			  								<a th:href="@{/orders/add-item/0/{id}(id=${product.id})}" class="btn btn-success">Add</a>
			  							</div>
			  						</div>
			  					</div>
			  				</div>
			  			</div>
			  		</div>
		  		</div>
		  		<div>&nbsp;</div>
		  		
		  		<div th:if="${keyword != null}">
			    	<div th:if="${totalPages > 1}">
				    	<nav>
				    		<ul class="pagination justify-content-center">
				    			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				    				<a th:href="@{'/orders/add-order/1' + ${'?keyword=' + keyword}}" class="page-link">First</a>
				    			</li>
				    			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				    				<a th:href="@{'/orders/add-order/' +  ${currentPage - 1} + ${'?keyword=' + keyword}}" class="page-link">Previous</a>
				    			</li>
				    			
				    			<li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
				    				<a class="page-link" th:href="@{'/orders/add-order/' + ${i} + ${'?keyword=' + keyword}}">[[${i}]]</a>
				    			</li>
				    			
				    			<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				    				<a th:href="@{'/orders/add-order/' + ${currentPage + 1} + ${'?keyword=' + keyword}}" class="page-link">Next</a>
				    			</li>
				    			<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				    				<a th:href="@{'/orders/add-order/' + ${totalPages} + ${'?keyword=' + keyword}}" class="page-link">Last</a>
				    			</li>	    			
				    		</ul>
				    	</nav>
				    </div>
			    </div>
			    
			    <div th:unless="${keyword != null}">
			    	<div th:if="${totalPages > 1}">
				    	<nav>
				    		<ul class="pagination justify-content-center">
				    			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				    				<a th:href="@{'/orders/add-order/1'}" class="page-link">First</a>
				    			</li>
				    			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				    				<a th:href="@{'/orders/add-order/' +  ${currentPage - 1}}" class="page-link">Previous</a>
				    			</li>
				    			
				    			<li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
				    				<a class="page-link" th:href="@{'/orders/add-order/' + ${i}}">[[${i}]]</a>
				    			</li>
				    			
				    			<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				    				<a th:href="@{'/orders/add-order/' + ${currentPage + 1}}" class="page-link">Next</a>
				    			</li>
				    			<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				    				<a th:href="@{'/orders/add-order/' + ${totalPages}}" class="page-link">Last</a>
				    			</li>	    			
				    		</ul>
				    	</nav>
				    </div>
			    </div>
		  		
		  		<div>
		  			<h1 style="text-align: center;">Customer</h1>
		  			<form id="customer_add_form">
			  			<div class="row">
				  			<div class="col-md-3"></div>
				  			<div class="col">
				  				<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">@</span>
									<input id="customer_name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">@</span>
									<input id="customer_email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">@</span>
									<select class="form-control" id="customer_gender">
									    <option value="0">Male</option>
									    <option value="1">Female</option>
									</select>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">@</span>
									<input id="customer_phone" type="text" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon1">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">@</span>
									<input id="customer_address" type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
								</div>
								<div class="input-group mb-3">
									<button onclick="validateCreateCustomer()" type="button" class="btn btn-primary" id="customer_save_btn">Save</button>
								</div>
				  			</div>
				  			<div class="col-md-3"></div>
				  		</div>
		  			</form>
			  		<div>&nbsp;</div>
		  		</div>
		  	</div>
		</div>
	</div>
	<div id="home-footer" th:replace="~{/fragments/app-fragments :: copyright}"></div>

</body>
</html>
