<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-sidebar},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">
<head id="home-static-resources" th:include="/fragments/app-fragments :: static-resource">
	<title id="pageTitle">Report</title>
</head>
<body>
	<div id="home-nav" th:replace="~{/fragments/app-fragments :: nav-default}"></div>
	<div id="home-sidebar" th:replace="~{/fragments/app-fragments :: main-sidebar}"></div>
	<div id="home-main-content">
		<div>
		    <table class="table table-striped table-hover">
		    	<thead class="table-dark">
		    		<tr>
				        <td scope="col">Total Quanlity Product</td>
				        <td scope="col">Product Name</td>
				    </tr>
		    	</thead>
		      	<tbody>
		      		<tr th:each="result : ${resultList}">
		      			<th th:text="${result.total}"></th>
				        <td th:text="${result.name}"></td>
				    </tr>
		      	</tbody>
		    </table>
	    </div>
	</div>
	<div id="home-footer" th:replace="~{/fragments/app-fragments :: copyright}"></div>

</body>
</html>